/* Asset.module.css */

.Asset {
  text-align: center;
  margin: 20px;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 20px;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  border-width: 0.3em;
}

.spinnerMessage {
  margin-top: 1rem;
  color: #333;
}
