.Comment {
  display: flex;
  flex-direction: column;
  background-color: #fbeaff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  padding: 10px 15px;
}

.CommentBody {
  display: flex;
  align-items: flex-start;
}

.AvatarWrapper {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.CommentContent {
  flex-grow: 1;
}

.CommentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.Date {
  font-size: 0.75rem;
  color: #999;
  margin-left: 5px;
}

.CommentText {
  font-size: 0.875rem;
  color: #333;
  margin: 0;
}

.noUnderline {
  text-decoration: none;
  color: inherit;
}

.noUnderline:hover {
  text-decoration: none;
}

.EditButton,
.DeleteButton {
  cursor: pointer;
  margin-left: 10px;
  color: #007bff;
  border: none;
  background: none;
  font-size: 0.875rem;
}

.EditButton:hover,
.DeleteButton:hover {
  text-decoration: underline;
}
