.Comment {
    display: flex;
    flex-direction: column;
  }
  
  .CommentBody {
    display: flex;
    align-items: flex-start;
    padding: 10px;
  }
  
  .CommentBody hr {
    width: 100%;
    border: 0.5px solid #ddd;
  }
  
  .CommentContent {
    flex-grow: 1;
    margin-left: 10px;
  }
  
  .CommentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Owner {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .Date {
    font-size: 0.875rem;
    color: #333; 
  }
  
  .CommentText {
    margin-bottom: auto;
  }
  
  .noUnderline {
    text-decoration: none;
    color: inherit;
  }
  
  .noUnderline:hover {
    text-decoration: none;
    
  }