
  /* General form styling */
.CommentCreateForm {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Profile Image styling */
  .CommentCreateForm img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  /* Input group styling */
  .CommentCreateForm .InputGroup {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  /* Textarea styling */
  .CommentCreateForm .InputGroup textarea {
    flex-grow: 1;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
    resize: none;
    margin-right: 5px; /* To remove the double border between textarea and button */
  }
  
  /* Button styling */
  .CommentCreateForm .InputGroup button {
    color: white;
    background-color: #be64c8;
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .CommentCreateForm .InputGroup button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .CommentCreateForm .InputGroup button:hover:not(:disabled) {
    background-color: #389f87;
  }
  
 

  