/* NavBar.module.css */

.NavBar {
  background-color: #FBEAFF;
  border: 2px solid #b39cd0e7;
  transform: scale(1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 0 15px;
}

.NavBar:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.NavContainer {
  display: flex;
  justify-content: space-between; /* Space out logo and avatar */
  align-items: center; /* Center items vertically */
}

.NavLink {
  color: #333; 
  text-decoration: none;
  margin-right: 20px; /* Adjust margin */
  font-size: 14px; 
  padding: 8px 10px; 
  display: flex;
  align-items: center;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.NavLink:hover {
  color: #23aa94; 
  background-color: #E3E3E3;
  border-radius: 5px;
}

.Title {
  font-size: 24px; 
  font-weight: 400;
  color: #333; 
}

.showOnMobile {
  display: block; /* Ensure it shows up on mobile when logged out */
}

.NavItems {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Allow items to grow and fill the space */
}

.MobileAvatarWrapper {
  display: none; /* Hide by default, show on mobile */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .MobileAvatarWrapper {
    display: block; /* Show avatar on mobile */
    margin-left: auto; /* Move avatar to the end of the navbar */
    order: 2; /* Ensure avatar is positioned after the toggle button */
  }

  .Title {
    display: none; /* Hide title on mobile if logged in */
  }

  .NavItems {
    flex-direction: column; /* Stack items vertically on mobile */
    align-items: flex-start; /* Align items to the left */
  }

  .navbar-toggler {
    margin-left: auto; /* Move the toggle button to the right */
    order: 1; /* Ensure toggle button is positioned before the avatar */
  }
}
