.NavBar {
  background-color: #FBEAFF;
  border: 2px solid #b39cd0e7;
  transform: scale(1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.NavBar:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.NavLink {
  color: #333; 
  text-decoration: none;
  margin-right: 40px; 
  font-size: 14px; 
  padding: 8px 10px; 
  display: flex;
  align-items: center;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.NavLink:hover {
  color: #23aa94; 
  background-color: #E3E3E3;
  border-radius: 5px;
}

.Title {
  margin-right: 85px; 
  font-size: 24px; 
  font-weight: 400;
  color: #333; 
}

i {
  margin-right: 2px;
  color: #4D8076;
  font-size: 18px; 
  transition: color 0.3s ease;
}

.NavLink:hover i {
  color: #23aa94; 
}

.ProfileImage {
  margin-left: 6px; 
  border-radius: 50%; 
  height: 30px; 
  width: 30px; 
  border: 2px solid #B39CD0; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}