.Container {
  background-color: #FBEAFF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.d-md-none {
  display: block !important;
}

.customFileInput input[type="file"] {
  display: none;
}

.customFormLabel {
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

.customFormControl {
  border: 1px solid #ccc;
  background-color: #FBEAFF;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
}

.customButton {
  margin-right: 10px;
  margin-top: 10px;
  background-color: #4D8076;
  border: none;
  color: white;
}

.customButton:hover {
  background-color: #23aa94;
}

.changeImageButton {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #4D8076;
  border: none;
  color: white;
}

.changeImageButton:hover {
  background-color: #23aa94;
}

.customAlert {
  margin-top: 10px;
}
