
.Container {
  background-color: #FBEAFF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}



@media (max-width: 768px) {
  .d-md-none {
    display: block !important;
  }
}

.customFileInput input[type="file"] {
  display: none;
}

.customFormLabel {
  font-weight: bold;
  color: #333; 
  margin-top: 10px;
}


.customFormControl {
  border: 1px solid #ccc; 
  background-color: #FBEAFF;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
}


.customButton {
  margin-right: 10px;
  margin-top: 10px;
  background-color: #4D8076;
}

.customButton:hover {
  background-color: #23aa94;;
}
