.Profile {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}

.ProfileMobile {
  flex-direction: column;
  align-items: center;
}

.AvatarWrapper {
  margin-right: 10px;
}

.WordBreak {
  display: flex;
  flex-direction: column;
}

.OwnerName {
  font-size: 1rem;
  font-weight: bold;
}

.ButtonContainer {
  margin-top: 10px;
}

.Button {
  margin: 5px;
}

.noUnderline {
  text-decoration: none;
}
