.avatarContainer {
  display: flex;
  align-items: center;
}

.avatar {
  height: 45px;
  width: 45px;
  background-color: #ccc; /* Fallback background color */
  font-size: 1.5rem; /* Adjust font size for initials */
}
  
  .UserPosts {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .UserPostsHeader {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  
 
  
  