.App {
    font-family: "DM Sans", sans-serif;
    background-color: #B39CD0;
    min-height: 100vh;
  }
  
  .Main {
    padding-top: 80px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  a {
    color: #555555;
    transition: color ease-in-out 0.3s;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:hover i {
  
    transition: color ease-in-out 0.3s;
  }
  
  i {
    color: #cfced3;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
  }
  
  i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #21b5a4;
  }

 h2 {
    margin: 20px;
   
 }

 .Content img {
  max-width: 100%;
  height: auto;
  max-height: 300px; 
  object-fit: cover;
}


.Image {
  /* Add styles for the image here */
  max-width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  margin-top: 50px;
}

